*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent !important;
  user-select: none;
}
:root{
  --biru-tua: #0B1354;
  --biru-muda: #165BAA;
  --ungu: #8950f5;
  --pink-tua: #F765A3;
  --pink-muda: #FFA4B6;
  --ivory: #F9D1D1;
  --gradasi: linear-gradient(to right, #8261ee, #fe58a0);;
  --box-shadow: 0 4px 16px rgba(0,0,0,.25);
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar{
  width: 1rem;
}
html::-webkit-scrollbar-thumb{
  background: ghostwhite;
  border: 1px solid gainsboro;
}
body{
  max-width: 2000px;
  margin: auto;
  background: ghostwhite;
  color: #555;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
img{
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}
p, li, span, a, button{
  line-height: 24px;
  font-size: 16px;
}
button{
  background: transparent;
  cursor: pointer;
}
.heading{
  font-size: 28px;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--pink-tua);
  text-shadow: 2px 2px 2px #555;
}
.heading span{
  color: var(--biru-tua);
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  border: 1px solid var(--biru-muda);
  color: var(--biru-muda);
  cursor: pointer;
  background: none;
  padding: 8px 16px;
  font-size: 16px;
  user-select: none;
}
.btn:hover{
  background: var(--biru-muda);
  color: #fff;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 1.5rem 1rem;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.fdr-column{
  flex-direction: column;
}
.relative-1{
  position: relative;
  z-index: 1;
}

/*root responsive*/
section,
header,
footer{
  padding: 3rem;
}
@media(max-width: 768px){
  section,
  header,
  footer{
    padding: 3rem 2rem;
  }
}
@media(max-width: 480px){
  section,
  header,
  footer{
    padding: 3rem 1rem;
  }
}

/* ------------------------- header ------------------------- */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 9999;
}
.header .navbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 2rem;
}
.header .navbar a{
  color: var(--pink-tua);
  font-weight: bold;
  letter-spacing: 1px;
}
.header .navbar a:hover,
.header .navbar a.aktif{
  color: deepskyblue;
  color: var(--biru-muda);  
}

/* responsive media query */
@media(max-width: 900px){
  .header .navbar{
    position: fixed;
    top: 80px;
    left: -150%;
    width: 75%;
    height: calc(100% - 80px);
    background: var(--biru-muda);
    transition: .5s ease-in-out;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .header .navbar.aktif{
    left: 0;
  }
  .header .navbar a{
    color: #fff;
  }
  .header .navbar a:hover,
  .header .navbar a.aktif{
    color: var(--biru-tua);
    color: var(--biru-tua);
  }
  .header .open-navbar::after{
    display: block;
    content: '\2261';
    color: var(--biru-muda);
    font-size: 3rem;
  }
}
@media(max-width: 768px){
  .header{
    padding: 0 2rem;
  }
}
@media(max-width: 480px){
  .header{
    padding: 0 1rem;
  }
  .header .navbar{
    width: 100%;
  }
}

/* ------------------------- beranda ------------------------- */
.beranda{
  height: calc(100vh - 80px);
  margin-top: 80px;
  background: url(../images/hero.jpg) no-repeat center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.beranda::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #8261ee, #fe58a0);
}
.beranda .container .box{
  text-align: center;
}
.beranda .container .box h1{
  color: #fff;
  font-size: 32px;
}
.beranda .container .box p{
  color: whitesmoke;
  font-size: 20px;
}
.beranda .container .box .btn{
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 4px;
}
.beranda .container .box .btn:hover{
  background: var(--gradasi);
  border: 1px solid #fff;
}

/* ------------------------- produk ------------------------- */
.produk{
  background: url(../images/hero.jpg) no-repeat center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.produk::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #8261ee, #fe58a0);
}
.produk .heading{
  color: var(--ivory);
}
.produk .container .box{
  padding: 1rem;
  text-align: center;
}
.produk .container .box i{
  font-size: 3.5rem;
  color: whitesmoke;
}
.produk .container .box h3{
  margin: 1rem 0;
}
.produk .container .box p{
  color: lavender;
}

/* ------------------------- layanan ------------------------- */
.layanan .container .box{
  padding: 1rem;
  text-align: center;
}
.layanan .container .box i{
  color: var(--ungu);
  font-size: 3.5rem;
}
.layanan .container .box h3{
  margin: 1rem 0;
  color: var(--biru-tua);
}

/* ------------------------- cta ------------------------- */
.cta.satu{
  background: url(../images/hero.jpg) no-repeat center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.cta.satu::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #8261ee, #fe58a0);
}
.cta.satu .container .box,
.cta.dua .container .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem 3rem;
}
.cta.satu .container .box p,
.cta.dua .container .box p{
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: var(--ivory);
}
.cta.dua .container .box p{
  color: var(--biru-muda);
}
.cta.satu .container .box .btn,
.cta.dua .container .box .btn{
  margin-top: 0;
  background: var(--biru-muda);
  border: 1px solid var(--biru-muda);
  color: #fff;
  gap: 0 8px;
}
.cta.satu .container .box .btn:hover,
.cta.dua .container .box .btn:hover{
  background: var(--biru-tua);
  border: 1px solid var(--biru-tua);
}
@media screen and (max-width: 600px){
  .cta.satu .container .box,
  .cta.dua .container .box{
    flex-direction: column;
  }
  .cta.satu .container .box p,
  .cta.dua .container .box p{
    text-align: center;
  }
}

/* ------------------------- galeri ------------------------- */
.galeri .slide img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  margin: auto;
}
.galeri .slide .info {
  border-radius: 0 0 4px 4px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.galeri .slide .info h3{
  font-size: 18px;
  color: var(--blue);
}

/* ------------------------- kontak ------------------------- */
.kontak{
  background: url(../images/hero.jpg) no-repeat center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.kontak::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #8261ee, #fe58a0);
}
.kontak .heading{
  color: var(--ivory);
}
.kontak .container .box{
  text-align: center;
}
.kontak .container .box i{
  font-size: 3.5rem;
  color: whitesmoke;
}
.kontak .container .box h3{
  margin: 1rem;
}
.kontak .container .box p{
  color: lavender;
}

/* ------------------------- footer ------------------------- */
.footer{
  background: var(--gradasi);
}
.footer .container .box img{
  width: 150px;
  height: 50px;
  display: block;
  margin: auto;
  filter: brightness(10%);
  margin-bottom: 1rem;
}
.footer .container .box p{
  text-align: center;
  color: #333;
  font-style: italic;
}
.footer .container .box h3{
  margin-bottom: 1.5rem;
  color: #333;
}
.footer .container .box a{
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  color: #333;
}
.footer .container .box a:hover{
  color: var(--ivory);
}
.footer .container .box a i{
  margin-right: 8px;
}
.footer .container .box:nth-child(3) p{
  text-align: left;
  font-style: normal;
}
.footer .container .box:nth-child(3) p i{
  margin-right: 8px;
  font-size: 6px;
  vertical-align: middle;
}
.footer .iframe{
  margin-top: 3rem;
}
.footer .credit{
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(255,255,255,10%);
}
.footer .credit p{
  text-align: center;
  color: #333;
}
